<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'schedule' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>스케줄 관리하기</h1>
                    <hr class="small">
                    <span class="subheading">알찬 하루를 위한 계획을 짜보세요!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<a href="/home/index">홈으로</a>