<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'scrum' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>SCRUM</h1>
                    <hr class="small">
                    <span class="subheading">효율적인 일처리를 위한 스크럼페이지</span>
                </div>
            </div>
        </div>
    </div>
</header>
<a href="/home/index">홈으로</a>